/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

body:has(.save-window[open]) {
  overflow: hidden;
}

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: var(--main-font), arial, sans-serif;
  background-image: var(--background-image);
  background-attachment: fixed;
  background-size: cover;
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-variation-settings: "wght" var(--text-weight);
}

/*  */

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}

.content-width {
  background-color: #fff;
  inline-size: var(--content-width);
}

/* хэдер-лого */

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-block: 100px;
  border: 2px solid var(--dark-color);
  font-family: var(--decor-font), fantasy, sans-serif;
}

.header__logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin-block: clamp(7.5rem, 7.324rem + 0.751vw, 8rem);
}

.header__logo_title {
  font-size: clamp(3.063rem, 2.71rem + 1.502vw, 4.063rem);
}

.header__logo_desc {
  font-size: clamp(0.875rem, 0.677rem + 0.845vw, 1.438rem);
  text-transform: uppercase;
}

/* карточки по спринтам */

.card {
  border: 2px solid #000;
}

.card__title {
  padding-inline-start: 10px;
  padding-block: 3px;
  font-variation-settings: "wght" var(--title-weight);
  font-size: 18px;
  line-height: 25px;
}

.card__image {
  position: relative;
}

.card__image img {
  width: calc(100% + 2px);
  margin-inline: -1px;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  object-position: center;
  border: 2px solid var(--dark-color);
}

.filter-grayscale {
  filter: grayscale(0.8);
}

.filter-blur {
  filter: blur(3px);
}

.filter-invert {
  filter: invert(0.95);
}

.filter-contrast-brightness {
  filter: contrast(500%) brightness(200%);
}

/* сомнительная штука, для лучшей видимости */

.filter-brightness .card__image-label {
  text-shadow: 0 0 7px var(--dark-color);
}

.filter-saturate {
  filter: saturate(0);
}

.filter-contrast {
  filter: contrast(1.5);
}

.filter-huerotate {
  filter: hue-rotate(180deg);
}

.filter-sepia {
  filter: sepia(0.01);
}

.card__image-label {
  position: absolute;
  background-color: transparent;
  top: 25px;
  right: clamp(0.813rem, 0.548rem + 1.127vw, 1.563rem);
  color: #000;
  font-family: var(--decor-font), fantasy, sans-serif;
  font-size: 14px;
  text-shadow: 0px 0px 10px var(--light-color);
  mix-blend-mode: hard-light;
}

@supports (-webkit-text-stroke: 1.5px #fff) {
  .card__image-label {
    text-shadow: none;
    -webkit-text-stroke: 1.5px rgb(255 255 255 / 0.5);
    text-stroke: 1.5px rgb(255 255 255 / 0.5);
  }
}

.card__text-block {
  display: flex;
  flex-direction: column;
  gap: 27px;
  padding-inline-start: 25px;
  padding-inline-end: 25.5px;
  padding-block-start: 22px;
  padding-block-end: 25px;
}

.card__text {
  font-variation-settings: "wght" var(--text-weight);
  font-size: 18px;
  line-height: 21px;
}

.card__buttons {
  display: flex;
  justify-content: end;
  gap: 6px;
  margin-inline: 25px;
  margin-block-end: 23px;
}

.card__icon-button {
  margin: 0;
  padding: 0;
  background-color: transparent;
  border: 2px solid transparent;
  block-size: 38px;
  transition: border  .3s ease;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid var(--dark-color);
  background-color: var(--light-color);
  font-size: 14px;
  transition: box-shadow 0.3s ease;
  position: relative;
  overflow: hidden;
  color: var(--light-color);
}

.card__like-button {
  block-size: 38px;
  inline-size: 130px;
}

.button__text {
  font-family: var(--decor-font), fantasy, serif;
  line-height: 90%;
  font-size: 14px;
}

.save-button {
  padding-inline: 18px;
  line-height: 14px;
  block-size: clamp(3.4375rem, 5.8882rem + -2.723vw, 5.25rem);
  inline-size: clamp(19.125rem, 18.047rem + 4.601vw, 22.188rem);
  margin-block-end: 103px;
}

.save-button svg {
  inline-size: clamp(1.75rem, 1.904rem + -0.657vw, 1.313rem);
  mix-blend-mode: difference;
}

.save-window {
  inline-size: clamp(21.313rem, 21.048rem + 1.127vw, 22.063rem);
  padding: 30px;
  font-size: 14px;
}

.save-window-info {
  color: var(--light-color);
  background-color: var(--light-color);
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin-block-end: 30px;
  text-transform: uppercase;
  line-height: 150%;
}

.save-window-info svg {
  width: 32.5%;
  mix-blend-mode: difference;
}

.save-window-info .button__text {
  line-height: 150%;
  mix-blend-mode: difference;
}

.save-window-button {
  padding-block: 12.5px;
  inline-size: 100%;
  text-transform: uppercase;
}

/* test */

.save-window[open]::backdrop {
  background-color: var(--dark-color);
  opacity: 75%;
}

@media (width < 376px) {
  .save-button {
    flex-direction: column;
    padding-block: 15px;
    gap: 8px;
  }
}

/* интерактив и анимации */

.button:focus {
  outline: none;
  box-shadow: 2px 2px 0 0 var(--dark-color);
}

button span {
  z-index: 1;
  mix-blend-mode: difference;
}

.button::before {
  content: " ";
  position: absolute;
  inset: 0;
  transform: translateX(-100%);
  transition: transform 0.5s ease-in-out;
  background: var(--dark-color);
}

.button:hover::before {
  transform: translateX(0);
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  border: 2px solid var(--dark-color);
  box-sizing: border-box;
}


